button.Button {
    background-color: black;
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 1em; /* Adjust padding */
    margin: 0 0.5em 0 0;
    cursor: pointer; /* Change cursor on hover */
}